.groups {
    display: flex;
    flex-flow: row wrap;
}

.delete-button {
    display: inline;
}

.group {
    display: flex;
    flex-flow: column wrap;
    font-size: 15px;
    width: 300px;
    margin: 10px 0px;
}