{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="{% static 'crypto_email/main.css' %}">
    {% block css %} {% endblock css %}
    {% block js %} {% endblock js %}
    {% if title %}
        <title>Crypto Email - {{ title }}</title>
    {% else %} 
        <title></title>
    {% endif %} 
    
</head>
<body>
    <header class="site-header">
        <div class="header-width">
            <div class="header-left">
                <a class="" href="{% url 'crypto_email_index' %}">Crypto Info</a>
                <a class="" href="{% url 'crypto_email_index' %}">Home</a>
                <a class="" href="{% url 'crypto_email_about' %}">About</a>
                <a class="" href="{% url 'crypto_tracker:tracker' %}">Tracker</a>
            </div>
            <div class="header-right">
                <a class="" href="{% url 'crypto_email_index' %}">Login</a>
                <a class="" href="{% url 'crypto_email_index' %}">Register</a>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-width">
        {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>