{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="main.css">
    {% block css %} {% endblock css %}
    {% block js %} {% endblock js %}
    {% if title %}
        <title>Crypto Email - {{ title }}</title>
    {% else %} 
        <title></title>
    {% endif %} 
    
</head>
<body>
    <header class="site-header">
      <a class="navbar-brand mr-4" href="{% url 'crypto_email_index' %}">Crypto Info</a>
      <a class="nav-item nav-link" href="{% url 'crypto_email_index' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'crypto_email_about' %}">About</a>
      <a class="nav-item nav-link" href="{% url 'crypto_tracker:tracker' %}">Tracker</a> 
    </header> 
    {% block content %}{% endblock %}
</body>
</html>