{% extends "crypto_email/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'crypto_tracker/crypto_tracker.css' %}">
{% endblock css %}

{% block js %}
<script defer src="{% static 'crypto_tracker/crypto_tracker.js' %}"></script>
{% endblock js %}

{% block content %}
<html>Track your favourite cryptocurrencies :D

<form action="{% url 'crypto_tracker:tracker' %}" method="post">
{% csrf_token %}
    <div>
        <label for="group">Group</label>
        <input type="text" name="group" id="group">
    </div>
    <div
        ><label for="symbol">Symbol</label>
        <input type="text" name="symbol" id="symbol">
    </div>
    <div>
        <label for="tracked_price">Tracked Price</label>
        <input type="text" name="tracked_price" id="tracked_price"> 
    </div>
    <input type="submit">
</form>

<div class="groups">
{% for coin_group in data %}
    <div class="group">
    {{ coin_group.group_name }}
    {% for coin in coin_group.trackedcoin_set.all %}
        <div class="coin"> <img src="{% static 'crypto_tracker/crypto_images' %}/{{ coin.name }}.png"> {{ coin.symbol }} {{ coin.price }} {{ coin.tracked_price }}
            <span class='difference'>{{ coin.difference }}</span>
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
</html>
{% endblock content%}